.user {
  padding: 2rem;
}

.user > div {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  border: 1px solid #8883834a;
}

.userInfo ul {
  list-style: none;
  flex-flow: column;
  display: flex;
  margin: 0;
  padding: 0.5rem 0;
  gap: 0.4rem;
}
