body {
  padding: 16px;
}

.home-nav__links__item {
  margin: 20px;
  padding: 16px;
  border: 1px solid black;
}

.list-body {
  margin: 20px;
  padding: 16px;
  border: 1px solid black;
  list-style: none;
}
