.post{
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 10px;
    background-color: #fff;
    color: #222725;

    display: flex;
    align-items: center;
    gap: 10%;
}

.post div{
    width: 100%;
}

.post h3{
    font-size: 40px;
}

.post h4{
    color: #DB3069;
    text-align: center;
    width: 400px;
}

.post h4 span {
    font-size: 30px;
}

.post p{
    font-style: italic;
    margin-top: 20px;
}

