div > h2 {
  text-align: center;
}

.users {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
}

.user {
  border: 1px solid #8883834a;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  width: 50%;
}

.user > button {
  margin-top: 10px;
  max-width: 100px;
}
